* { margin: 0;
    padding: 0;}

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    
}



.headerlogo { width: 100%;
            opacity: .9;
            margin-left: auto;
            margin-right: auto;
            display: block;
            background-color: #000000;
            }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: .95;   
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a08443;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1 { text-align: center;}


#main-doc { background-color: white;
            width: 100%;
            height: auto;
            margin-top: 10vh;
            text-align: center;}

.maindocopen { font-size: 25px;
                text-align: center;}

.maincontent { background-color: black;
                color: white;
                width: 100%;
                margin-left: auto;
                margin-right: auto;}

footer { text-align: center;
        background-color: #cecece;
        color: white;
        opacity: .9;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 35px;}
}

@media screen and (max-width: 600px) {
    .sidenav a { font-size: 20px;}
}